@font-face {
  font-family: Ostrich Sans Inline;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/183091/OstrichSansInline-Regular-subset.woff);
}
@font-face {
  font-family: Ostrich Sans;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/183091/OstrichSans-Black-subset.woff);
}

*, :before, :after { box-sizing: inherit }

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Trebuchet MS, sans-serif;

  background-color: #fff; /* <iframe>s don't have a default <body> background; we need one for filtering to work correctly */

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 110 24' width='27.5' height='6'%3E%3Ccircle r='10'/%3E%3Ccircle cy='24' r='10'/%3E%3Ccircle cy='12' cx='12' r='9'/%3E%3Ccircle cx='24' r='8'/%3E%3Ccircle cy='24' cx='24' r='8'/%3E%3Ccircle cy='12' cx='36' r='7'/%3E%3Ccircle cx='48' r='6'/%3E%3Ccircle cy='24' cx='48' r='6'/%3E%3Ccircle cy='12' cx='60' r='5'/%3E%3Ccircle cx='72' r='4'/%3E%3Ccircle cy='24' cx='72' r='4'/%3E%3Ccircle cy='12' cx='84' r='3'/%3E%3Ccircle cx='96' r='2'/%3E%3Ccircle cy='24' cx='96' r='2'/%3E%3Ccircle cy='12' cx='108' r='1'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 110 24' width='27.5' height='6'%3E%3Ccircle cx='108' r='10'/%3E%3Ccircle cx='108' cy='24' r='10'/%3E%3Ccircle cy='12' cx='96' r='9'/%3E%3Ccircle cx='84' r='8'/%3E%3Ccircle cy='24' cx='84' r='8'/%3E%3Ccircle cy='12' cx='72' r='7'/%3E%3Ccircle cx='60' r='6'/%3E%3Ccircle cy='24' cx='60' r='6'/%3E%3Ccircle cy='12' cx='48' r='5'/%3E%3Ccircle cx='36' r='4'/%3E%3Ccircle cy='24' cx='36' r='4'/%3E%3Ccircle cy='12' cx='24' r='3'/%3E%3Ccircle cx='12' r='2'/%3E%3Ccircle cy='24' cx='12' r='2'/%3E%3Ccircle cy='12' cx='1' r='1'/%3E%3C/svg%3E");
  background-repeat: repeat-y, repeat-y;
  background-position: left, right;
  background-size: 5vw auto;
  padding: 0 6vw;
  overflow-y: auto;
}

.contrast-o-vision--on {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 110 24' stroke='lime' width='27.5' height='6'%3E%3Ccircle r='10'/%3E%3Ccircle cy='24' r='10'/%3E%3Ccircle cy='12' cx='12' r='9'/%3E%3Ccircle cx='24' r='8'/%3E%3Ccircle cy='24' cx='24' r='8'/%3E%3Ccircle cy='12' cx='36' r='7'/%3E%3Ccircle cx='48' r='6'/%3E%3Ccircle cy='24' cx='48' r='6'/%3E%3Ccircle cy='12' cx='60' r='5'/%3E%3Ccircle cx='72' r='4'/%3E%3Ccircle cy='24' cx='72' r='4'/%3E%3Ccircle cy='12' cx='84' r='3'/%3E%3Ccircle cx='96' r='2'/%3E%3Ccircle cy='24' cx='96' r='2'/%3E%3Ccircle cy='12' cx='108' r='1'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 110 24' stroke='lime' width='27.5' height='6'%3E%3Ccircle cx='108' r='10'/%3E%3Ccircle cx='108' cy='24' r='10'/%3E%3Ccircle cy='12' cx='96' r='9'/%3E%3Ccircle cx='84' r='8'/%3E%3Ccircle cy='24' cx='84' r='8'/%3E%3Ccircle cy='12' cx='72' r='7'/%3E%3Ccircle cx='60' r='6'/%3E%3Ccircle cy='24' cx='60' r='6'/%3E%3Ccircle cy='12' cx='48' r='5'/%3E%3Ccircle cx='36' r='4'/%3E%3Ccircle cy='24' cx='36' r='4'/%3E%3Ccircle cy='12' cx='24' r='3'/%3E%3Ccircle cx='12' r='2'/%3E%3Ccircle cy='24' cx='12' r='2'/%3E%3Ccircle cy='12' cx='1' r='1'/%3E%3C/svg%3E ");
}

.contrast-o-vision--on h1 text {
  stroke: #0f0;
  stroke-width: 0.1px;
}

h1 {
  text-align: center;
  margin: 0.5em 0.1em 0.1em;
  font: inherit;
}
h1 text {
  font: 1em Ostrich Sans, sans-serif;
}
@media (min-width: 30em) {
  h1 text {
    font-family: Ostrich Sans Inline, sans-serif;
  }
}

main {
  line-height: 1.5;
  font-size: 1.2em;
}

.intro {
  line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em)/(35 - 21)));
  font-size: calc(.9375em + .46875vw - 1.5px );
}

.intro p {
  max-width: 35em;
  margin: 1em auto;
}

@media (min-width: 30em) {
  .intro {
    display: table;
    margin: 1em auto;
    max-width: 40em;
  }

  .intro p { display: table-cell }

  .intro p:nth-child(1) { padding-right: 0.5em }
  .intro p:nth-child(2) { padding-left:  0.5em }
}

.examples {
  text-align: center;
  padding: 0;
  font-weight: 600;
  line-height: 0;
  margin-bottom: 0;
}

.contrast-o-vision--on .example {
  filter: url(#contrast-o-vision);
  background: #fff; /* needed for filters to work correctly */
}

.example {
  display: inline-block;
  margin: 0.5em;
  vertical-align: middle;
  font-size: 2em;
  line-height: 1;
  max-width: 100%;
}
.example:first-child {
  margin-left: 0;
}

.example--background {
  background: linear-gradient(45deg, rgba(0,0,0,0.7), rgba(0,0,0,0));
  padding: 0.5em;
  box-shadow: inset 0 0 4px 4px #fff;
}

.example--text {
  margin: 0;
}

.example--text svg {
  width: 100%;
}

.example--animation {
  position: relative;
  overflow: hidden;
  animation: 2s shimmy infinite ease-in-out;
}
@keyframes shimmy {
  0%,
  100% { transform: rotate(-10deg) }
  50%  { transform: rotate(10deg) }
}

.example__textarea {
  padding: 0.2em;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
}

svg {
  max-width: 100%;
  height: auto;
}

.toggle-btn {
  display: table;
  margin: 2em auto;
  font-size: 2vmin;
  border: 0;
  background: #eee;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border-bottom: 0.5em gray solid;
  transition: .5s cubic-bezier(0.1, 1, 0.22, 1);
  box-shadow: 0 15px 10px rgba(#000, 0.7);
  position: relative;
  outline: none;
  perspective: 1000px;
}

.toggle-btn > span {
  position: absolute;
  top: 50%; left: 50%;
  width: 100%;
  transform: translate(-50%, -55%) scaleY(1.5) rotateX(30deg);
  transform-style: preserve-3d;
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: -0.05em;
  font-family: Verdana;
}

.toggle-btn--pressed > span {
  color: rgba(#ddd, 0.95);
}

.toggle-btn__svg {
  width: 100%;
  height: 100%;
}

.toggle-btn__svg {
  font-size: 0.5px;
  transition: .2s font-size cubic-bezier(0.1, 1, 0.22, 1);
  stroke-linecap: round;
  fill: none;
  stroke-dasharray: 0 31.415 0 31.415;
}

.toggle-btn:hover:not(.toggle-btn--pressed),
.toggle-btn:focus:not(.toggle-btn--pressed) {
  transform: translateY(-2px);
  box-shadow: 0 17px 10px rgba(#000, 0.7);
}
.toggle-btn:hover:not(.toggle-btn--pressed) .toggle-btn__svg,
.toggle-btn:focus:not(.toggle-btn--pressed) .toggle-btn__svg {
  font-size: 0.7px;
}

.toggle-btn:active:not(.toggle-btn--pressed) {
  transform: translateY(-4px);
  background: #ddd;
}
.toggle-btn:active:not(.toggle-btn--pressed) .toggle-btn__svg {
  font-size: 0.3px;
}

.toggle-btn--pressed {
  background-color: #000;
  transform: translateY(15px);
  box-shadow: 0 0 0.2em 0.1em #0f0;
  border-bottom-width: 0;
}
.toggle-btn--pressed .toggle-btn__svg {
  font-size: 2.5px;
  stroke: #0f0;
}
.toggle-btn--pressed text {
  fill: white !important;
}
