button, hr, input {
  overflow: visible
}

audio, canvas, progress, video {
  display: inline-block
}

progress, sub, sup {
  vertical-align: baseline
}

menu, article, aside, details, footer, header, nav, section, figcaption, figure, main {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
  outline-width: 0;
}

b, strong {
  font-weight: bolder;
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

audio:not([controls]) {
  display: none;
  height: 0
}

img {
  border: 0;
}

svg {
  overflow: hidden
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.15;
  margin: 0;
}

button {
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring {
  outline: ButtonText dotted 1px
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

textarea {
  overflow: auto;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

summary {
  display: list-item
}

[hidden], template {
  display: none
}

*, :before, :after {
  box-sizing: inherit
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font: 1em/1.15 sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.filter-svg {
  position: absolute;
  z-index: -1;
}
